<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
    body, html {
        padding: 0;
        margin: 0;
        height: 100%;
        border: 5px solid black;
    }

    #container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2rem;
    }

    </style>
    <script>

    </script>
  </head>
  <body>
    <div id="container">
        <h1>{{text}}</h1>
    </div>
  </body>
</html>
