<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>{{page_title}}</title>

  <!-- <meta http-equiv="refresh" content="0;url=https://90daydx.com/"> -->
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{page_title}}">
  <meta property="og:description" content="{{page_description}}">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="{{og_image}}">

  <style>
    body, html {
      padding: 1rem;
    }
  </style>
  <script>
    window.location='{{page_link}}';
  </script>
</head>

<body>

  <!-- Add your site or application content here -->
  <img src="{{og_image}}" height="300px" />

  <h1>{{page_title}}</h1>
  {{page_content}}
  
  <p>
    <a title="Read more" href="{{ page_link }}">Read more...</a>
  </p>
</body>

</html>

